body {
  .layout-wrapper {
    &.layout-nav-type-vertical {
      .layout-navbar {
        inset-block-start: 0 !important;

        .navbar-content-container {
          border-radius: 0;
        }

        padding-inline: 0;
      }
    }

    &.layout-navbar-sticky {
      .layout-navbar {
        inset-block-start: 0;
      }

      .layout-page-content {
        inset-block-start: 0;
      }
    }
  }

  .layout-wrapper {
    &.layout-nav-type-vertical {
      &.layout-navbar-sticky {
        .layout-page-content {
          margin-block-start: 0;
        }
      }
    }
  }
}
