// Font Family
/* Spoqa Han Sans Thin */
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  font-style: normal;
  src:
    url('/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Thin.woff') format('woff');
}

/* Spoqa Han Sans Light */
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  font-style: normal;
  src:
    url('/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Light.woff') format('woff');
}

/* Spoqa Han Sans Regular */
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  font-style: normal;
  src:
    url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff');
}

/* Spoqa Han Sans Bold */
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  font-style: normal;
  src:
    url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff');
}

/* Spoqa Han Sans Medium */
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 500;
  font-style: normal;
  src:
    url('/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Medium.woff') format('woff');
}


.layout-wrapper {
  &.layout-nav-type-vertical {
    .layout-navbar {
      padding-inline: 0;

      .navbar-content-container {
        border-radius: 0;
      }
    }
  }
}

.layout-nav-type-vertical .layout-vertical-nav .nav-items {
  padding: 1rem 0;
}
