.layout-wrapper {
  &.layout-nav-type-vertical {
    .layout-navbar {
      padding-inline: 0;

      .navbar-content-container {
        border-radius: 0;
      }
    }
  }
}



.layout-nav-type-vertical .layout-vertical-nav .nav-items {padding: 1rem 0;}
