.v-theme--light {
    --padding-padding-1: 4px;
    --padding-padding-2: 8px;
    --padding-padding-3: 12px;
    --padding-padding-4: 16px;
    --padding-padding-5: 20px;
    --padding-padding-6: 24px;
    --padding-padding-7: 28px;
    --padding-padding-8: 32px;
    --padding-padding-9: 36px;
    --padding-padding-10: 40px;
    --padding-padding-11: 44px;
    --padding-padding-12: 48px;
    --padding-padding-13: 52px;
    --padding-padding-14: 56px;
    --padding-padding-15: 60px;
    --padding-padding-16: 64px;
    --padding-padding-25: 100px;
    --gap-gap-1: 4px;
    --gap-gap-2: 8px;
    --gap-gap-3: 12px;
    --gap-gap-4: 16px;
    --gap-gap-5: 20px;
    --gap-gap-6: 24px;
    --gap-gap-7: 28px;
    --gap-gap-8: 32px;
    --gap-gap-9: 36px;
    --gap-gap-10: 40px;
    --gap-gap-11: 44px;
    --gap-gap-12: 48px;
    --gap-gap-13: 52px;
    --gap-gap-14: 56px;
    --gap-gap-15: 60px;
    --gap-gap-16: 64px;
    --gap-gap-25: 100px;
    --border-radius-border-radius-xs: 2px;
    --border-radius-border-radius-md: 6px;
    --border-radius-border-radius-lg: 8px;
    --border-radius-border-radius-xl: 10px;
    --border-radius-border-round: 500px;
    --border-radius-border-radius-sm: 4px;
    --color-gray-gray-100: #eaeaec;
    --color-gray-gray-200: #d5d4d8;
    --color-gray-gray-300: #c0bec5;
    --color-gray-gray-400: #aba8b1;
    --color-gray-gray-500: #97939e;
    --color-gray-gray-600: #827d8b;
    --color-gray-gray-700: #6d6777;
    --color-gray-gray-800: #585164;
    --color-gray-gray-900: #433c50;
    --color-primary-primary-100: #e6f4fe;
    --color-primary-primary-200: #d5efff;
    --color-primary-primary-300: #c2e5ff;
    --color-primary-primary-400: #acd8fc;
    --color-primary-primary-500: #8ec8f6;
    --color-primary-primary-600: #5eb1ef;
    --color-primary-primary-700: #0090ff;
    --color-primary-primary-800: #0588f0;
    --color-primary-primary-900: #0d74ce;
    --color-secondary-secondary-100: #e6e6e9;
    --color-secondary-secondary-200: #cccdd3;
    --color-secondary-secondary-300: #b3b5bc;
    --color-secondary-secondary-400: #999ca6;
    --color-secondary-secondary-500: #808390;
    --color-secondary-secondary-600: #737682;
    --color-secondary-secondary-700: #6d6f7a;
    --color-secondary-secondary-800: #666973;
    --color-secondary-secondary-900: #60626c;
    --color-info-info-100: #ccf1f6;
    --color-info-info-200: #99e3ed;
    --color-info-info-300: #66d6e3;
    --color-info-info-400: #33c8da;
    --color-info-info-500: #00bad1;
    --color-info-info-600: #00a7bc;
    --color-info-info-700: #009eb2;
    --color-info-info-800: #0095a7;
    --color-info-info-900: #008c9d;
    --color-success-success-100: #d4f4e2;
    --color-success-success-200: #a9e9c5;
    --color-success-success-300: #7edda9;
    --color-success-success-400: #53d28c;
    --color-success-success-500: #28c76f;
    --color-success-success-600: #24b364;
    --color-success-success-700: #22a95e;
    --color-success-success-800: #209f59;
    --color-success-success-900: #1e9553;
    --color-warning-warning-100: #ffecd9;
    --color-warning-warning-200: #ffd9b4;
    --color-warning-warning-300: #ffc58e;
    --color-warning-warning-400: #ffb269;
    --color-warning-warning-500: #ff9f43;
    --color-warning-warning-600: #e68f3c;
    --color-warning-warning-700: #d98739;
    --color-warning-warning-800: #cc7f36;
    --color-warning-warning-900: #bf7732;
    --color-error-error-100: #ffdbdc;
    --color-error-error-200: #ffb7b9;
    --color-error-error-300: #ff9497;
    --color-error-error-400: #ff7074;
    --color-error-error-500: #ff4c51;
    --color-error-error-600: #e64449;
    --color-error-error-700: #d94145;
    --color-error-error-800: #cc3d41;
    --color-error-error-900: #bf393d;
    --opacity-color-primary-primary-8: #0090ff;
    --opacity-color-primary-primary-16: #0090ff;
    --opacity-color-primary-primary-24: #0090ff;
    --opacity-color-primary-primary-32: #0090ff;
    --opacity-color-primary-primary-38: #0090ff;
    --opacity-color-secondary-secondary-8: #808390;
    --opacity-color-secondary-secondary-16: #808390;
    --opacity-color-secondary-secondary-24: #808390;
    --opacity-color-secondary-secondary-32: #808390;
    --opacity-color-secondary-secondary-38: #808390;
    --opacity-color-info-info-8: #00bad1;
    --opacity-color-info-info-16: #00bad1;
    --opacity-color-info-info-24: #00bad1;
    --opacity-color-info-info-32: #00bad1;
    --opacity-color-info-info-38: #00bad1;
    --opacity-color-success-success-8: #28c76f;
    --opacity-color-success-success-16: #28c76f;
    --opacity-color-success-success-24: #28c76f;
    --opacity-color-success-success-32: #28c76f;
    --opacity-color-success-success-38: #28c76f;
    --opacity-color-warning-warning-8: #ff9f43;
    --opacity-color-warning-warning-16: #ff9f43;
    --opacity-color-warning-warning-24: #ff9f43;
    --opacity-color-warning-warning-32: #ff9f43;
    --opacity-color-warning-warning-38: #ff9f43;
    --opacity-color-error-error-8: #ff4c51;
    --opacity-color-error-error-16: #ff4c51;
    --opacity-color-error-error-24: #ff4c51;
    --opacity-color-error-error-32: #ff4c51;
    --opacity-color-error-error-38: #ff4c51;
    --opacity-color-gray-gray-8: #2e263d;
    --opacity-color-gray-gray-16: #2e263d;
    --opacity-color-gray-gray-24: #2e263d;
    --opacity-color-gray-gray-32: #2e263d;
    --opacity-color-gray-gray-38: #2e263d;

}
