.v-theme--light {
    --theme-text-primary: #2f2b3d;
    --theme-text-secondary: #2f2b3d;
    --theme-text-disabled: #2f2b3d;
    --theme-action-active: #2f2b3d;
    --theme-action-hover: #2f2b3d;
    --theme-action-selected: #2f2b3d;
    --theme-action-disabled: #2f2b3d;
    --theme-action-disabled-bg: #2f2b3d;
    --theme-action-focus: #2f2b3d;
    --theme-divider: #2f2b3d;
    --theme-backdrop-overlay: #2f2b3d;
    --theme-filled-input-bg: #2f2b3d;
    --theme-input-border: #2f2b3d;
    --misc-snackbar: #2f2b3d;
    --theme-chip-background: #2f2b3d;
    --misc-paper: #ffffff;
    --misc-body-bg: #e4eaed;
    --color-palette-primary-main: #0588f0;
    --color-palette-primary-dark: #0d74ce;
    --color-palette-primary-light: #5eb1ef;
    --color-palette-primary-opacity-lighter: #0588f0;
    --color-palette-primary-opacity-light: #0588f0;
    --color-palette-primary-opacity-dark: #0588f0;
    --color-palette-secondary-main: --color-secondary-secondary-500;
    --color-palette-secondary-dark: --color-secondary-secondary-600;
    --color-palette-secondary-light: --color-secondary-secondary-400;
    --color-palette-secondary-opacity-lighter: --opacity-color-secondary-secondary-8;
    --color-palette-secondary-opacity-light: --opacity-color-secondary-secondary-16;
    --color-palette-secondary-opacity-dark: --opacity-color-secondary-secondary-32;
    --color-palette-error-main: --color-error-error-500;
    --color-palette-error-dark: --color-error-error-600;
    --color-palette-error-light: --color-error-error-400;
    --color-palette-error-opacity-lighter: --opacity-color-error-error-8;
    --color-palette-error-opacity-light: --opacity-color-error-error-16;
    --color-palette-error-opacity-dark: --opacity-color-error-error-32;
    --color-palette-warning-main: --color-warning-warning-500;
    --color-palette-warning-dark: --color-warning-warning-600;
    --color-palette-warning-light: --color-warning-warning-400;
    --color-palette-warning-opacity-lighter: --opacity-color-warning-warning-8;
    --color-palette-warning-opacity-light: --opacity-color-warning-warning-16;
    --color-palette-warning-opacity-dark: --opacity-color-warning-warning-32;
    --color-palette-info-main: --color-info-info-500;
    --color-palette-info-dark: --color-info-info-600;
    --color-palette-info-light: --color-info-info-400;
    --color-palette-info-opacity-lighter: --opacity-color-info-info-8;
    --color-palette-info-opacity-light: --opacity-color-info-info-16;
    --color-palette-info-opacity-dark: --opacity-color-info-info-32;
    --color-palette-success-main: --color-success-success-500;
    --color-palette-success-dark: --color-success-success-600;
    --color-palette-success-light: --color-success-success-400;
    --color-palette-success-opacity-lighter: --opacity-color-success-success-8;
    --color-palette-success-opacity-light: --opacity-color-success-success-16;
    --color-palette-success-opacity-dark: --opacity-color-success-success-32;
    --misc-bg-white: #ffffff;
    --misc-bg-black: #000000;
    --border-radius-border-radius-xs: --border-radius-border-radius-xs;
    --border-radius-border-radius-sm: --border-radius-border-radius-sm;
    --border-radius-border-radius-md: --border-radius-border-radius-md;
    --border-radius-border-radius-lg: --border-radius-border-radius-lg;
    --border-radius-border-radius-xl: --border-radius-border-radius-xl;
    --border-radius-border-round: --border-radius-border-round;
    --theme-outline-border: #2f2b3d;
    --misc-grey-light: #fafafa;
    --misc-card-padding: 24px;
    --misc-card-footer: 24px;
    --padding-p-6: --padding-padding-6;
    --padding-p-4: --padding-padding-4;
    --misc-table-header: #ffffff;
    --padding-p-1: --padding-padding-1;
    --padding-p-2: --padding-padding-2;
    --padding-p-12: --padding-padding-12;
    --misc-form-gap: 24px;
    --misc-chat-bg: #f3f2f5;
    --misc-bg-facebook: #4267b2;
    --misc-bg-twitter: #1da1f2;
    --misc-bg-linkedin: #007bb6;
    --misc-track-bg: #f1f0f2;
    --padding-p-3: --padding-padding-3;
    --padding-p-5: --padding-padding-5;
    --padding-p-7: --padding-padding-7;
    --padding-p-8: --padding-padding-8;
    --padding-p-9: --padding-padding-9;
    --padding-p-10: --padding-padding-10;
    --padding-p-11: --padding-padding-11;
    --padding-p-13: --padding-padding-13;
    --padding-p-14: --padding-padding-14;
    --padding-p-15: --padding-padding-15;
    --padding-p-16: --padding-padding-16;
    --misc-container-xl: 1140px;
    --padding-p-25: --padding-padding-25;
    --gap-gap-1: --gap-gap-1;
    --gap-gap-2: --gap-gap-2;
    --gap-gap-3: --gap-gap-3;
    --gap-gap-4: --gap-gap-4;
    --gap-gap-5: --gap-gap-5;
    --gap-gap-6: --gap-gap-6;
    --gap-gap-7: --gap-gap-7;
    --gap-gap-8: --gap-gap-8;
    --gap-gap-9: --gap-gap-9;
    --gap-gap-10: --gap-gap-10;
    --gap-gap-11: --gap-gap-11;
    --gap-gap-12: --gap-gap-12;
    --gap-gap-13: --gap-gap-13;
    --gap-gap-14: --gap-gap-14;
    --gap-gap-15: --gap-gap-15;
    --gap-gap-16: --gap-gap-16;
    --misc-card-header: 24px;
    --misc-avatar-bg: #eeedf0;
    --color-palette-primary-opacity-main: #0588f0;
    --color-palette-primary-opacity-darker: #0588f0;
    --color-palette-secondary-opacity-main: --opacity-color-secondary-secondary-24;
    --color-palette-secondary-opacity-darker: --opacity-color-secondary-secondary-38;
    --color-palette-error-opacity-main: --opacity-color-error-error-24;
    --color-palette-error-opacity-darker: --opacity-color-error-error-38;
    --color-palette-warning-opacity-main: --opacity-color-warning-warning-24;
    --color-palette-warning-opacity-darker: --opacity-color-warning-warning-38;
    --color-palette-info-opacity-main: --opacity-color-info-info-24;
    --color-palette-info-opacity-darker: --opacity-color-info-info-38;
    --color-palette-success-opacity-main: --opacity-color-success-success-24;
    --color-palette-success-opacity-darker: --opacity-color-success-success-38;
    --color-palette-gray-opacity-lighter: --opacity-color-gray-gray-8;
    --color-palette-gray-opacity-light: --opacity-color-gray-gray-16;
    --color-palette-gray-opacity-main: --opacity-color-gray-gray-24;
    --color-palette-gray-opacity-dark: --opacity-color-gray-gray-32;
    --color-palette-gray-opacity-darker: --opacity-color-gray-gray-38;
    --theme-text-subtitle: #2f2b3d;

}
