.v-theme--light {
    --text-primary: #2f2b3d;
    --text-secondary: #2f2b3d;
    --text-disabled: #2f2b3d;
    --action-active: #2f2b3d;
    --action-hover: #2f2b3d;
    --action-selected: #2f2b3d;
    --action-disabled: #2f2b3d;
    --action-disabled-bg: #2f2b3d;
    --action-focus: #2f2b3d;
    --divider: #2f2b3d;
    --backdrop-overlay: #2f2b3d;
    --filled-input-bg: #2f2b3d;
    --input-border: #2f2b3d;
    --snackbar: #2f2b3d;
    --chip-background: #2f2b3d;
    --paper: #ffffff;
    --body-bg: #e4eaed;
    --primary-main: #0588f0;
    --primary-dark: #0d74ce;
    --primary-light: #5eb1ef;
    --primary-o-light: #0588f0;
    --primary-o-main: #0588f0;
    --primary-o-dark: #0588f0;
    --secondary-main: var(--color-secondary-secondary-500);
    --secondary-dark: var(--color-secondary-secondary-600);
    --secondary-light: var(--color-secondary-secondary-400);
    --secondary-o-light: var(--opacity-color-secondary-secondary-8);
    --secondary-o-main: var(--opacity-color-secondary-secondary-16);
    --secondary-o-dark: var(--opacity-color-secondary-secondary-32);
    --error-main: var(--color-error-error-500);
    --error-dark: var(--color-error-error-600);
    --error-light: var(--color-error-error-400);
    --error-o-light: var(--opacity-color-error-error-8);
    --error-o-main: var(--opacity-color-error-error-16);
    --error-o-dark: var(--opacity-color-error-error-32);
    --warning-main: var(--color-warning-warning-500);
    --warning-dark: var(--color-warning-warning-600);
    --warning-light: var(--color-warning-warning-400);
    --warning-o-light: var(--opacity-color-warning-warning-8);
    --warning-o-main: var(--opacity-color-warning-warning-16);
    --warning-o-dark: var(--opacity-color-warning-warning-32);
    --info-main: var(--color-info-info-500);
    --info-dark: var(--color-info-info-600);
    --info-light: var(--color-info-info-400);
    --info-o-light: var(--opacity-color-info-info-8);
    --info-o-main: var(--opacity-color-info-info-16);
    --info-o-dark: var(--opacity-color-info-info-32);
    --success-main: var(--color-success-success-500);
    --success-dark: var(--color-success-success-600);
    --success-light: var(--color-success-success-400);
    --success-o-light: var(--opacity-color-success-success-8);
    --success-o-main: var(--opacity-color-success-success-16);
    --success-o-dark: var(--opacity-color-success-success-32);
    --bg-white: #ffffff;
    --bg-black: #000000;
    --border-radius-xs: var(--border-radius-border-radius-xs);
    --border-radius-sm: var(--border-radius-border-radius-sm);
    --border-radius-md: var(--border-radius-border-radius-md);
    --border-radius-lg: var(--border-radius-border-radius-lg);
    --border-radius-xl: var(--border-radius-border-radius-xl);
    --border-round: var(--border-radius-border-round);
    --outline-border: #2f2b3d;
    --grey-light: #fafafa;
    --card-padding: 24px;
    --card-footer: 24px;
    --p-6: var(--padding-padding-6);
    --p-4: var(--padding-padding-4);
    --table-header: #ffffff;
    --p-1: var(--padding-padding-1);
    --p-2: var(--padding-padding-2);
    --p-12: var(--padding-padding-12);
    --form-gap: 24px;
    --chat-bg: #f3f2f5;
    --bg-facebook: #4267b2;
    --bg-twitter: #1da1f2;
    --bg-linkedin: #007bb6;
    --track-bg: #f1f0f2;
    --p-3: var(--padding-padding-3);
    --p-5: var(--padding-padding-5);
    --p-7: var(--padding-padding-7);
    --p-8: var(--padding-padding-8);
    --p-9: var(--padding-padding-9);
    --p-10: var(--padding-padding-10);
    --p-11: var(--padding-padding-11);
    --p-13: var(--padding-padding-13);
    --p-14: var(--padding-padding-14);
    --p-15: var(--padding-padding-15);
    --p-16: var(--padding-padding-16);
    --container-xl: 1140px;
    --p-25: var(--padding-padding-25);
    --gap-1: var(--gap-gap-1);
    --gap-2: var(--gap-gap-2);
    --gap-3: var(--gap-gap-3);
    --gap-4: var(--gap-gap-4);
    --gap-5: var(--gap-gap-5);
    --gap-6: var(--gap-gap-6);
    --gap-7: var(--gap-gap-7);
    --gap-8: var(--gap-gap-8);
    --gap-9: var(--gap-gap-9);
    --gap-10: var(--gap-gap-10);
    --gap-gap-11: var(--gap-gap-11);
    --gap-12: var(--gap-gap-12);
    --gap-13: var(--gap-gap-13);
    --gap-14: var(--gap-gap-14);
    --gap-15: var(--gap-gap-15);
    --gap-16: var(--gap-gap-16);
    --misc-card-header: 24px;
    --misc-avatar-bg: #eeedf0;
    --color-palette-primary-opacity-main: #0588f0;
    --color-palette-primary-opacity-darker: #0588f0;
    --color-palette-secondary-opacity-main: var(--opacity-color-secondary-secondary-24);
    --color-palette-secondary-opacity-darker: var(--opacity-color-secondary-secondary-38);
    --color-palette-error-opacity-main: var(--opacity-color-error-error-24);
    --color-palette-error-opacity-darker: var(--opacity-color-error-error-38);
    --color-palette-warning-opacity-main: var(--opacity-color-warning-warning-24);
    --color-palette-warning-opacity-darker: var(--opacity-color-warning-warning-38);
    --color-palette-info-opacity-main: var(--opacity-color-info-info-24);
    --color-palette-info-opacity-darker: var(--opacity-color-info-info-38);
    --color-palette-success-opacity-main: var(--opacity-color-success-success-24);
    --color-palette-success-opacity-darker: var(--opacity-color-success-success-38);
    --color-palette-gray-opacity-lighter: var(--opacity-color-gray-gray-8);
    --color-palette-gray-opacity-light: var(--opacity-color-gray-gray-16);
    --color-palette-gray-opacity-main: var(--opacity-color-gray-gray-24);
    --color-palette-gray-opacity-dark: var(--opacity-color-gray-gray-32);
    --color-palette-gray-opacity-darker: var(--opacity-color-gray-gray-38);
    --text-primary: #2f2b3d;


}
