// Font Family
/* Spoqa Han Sans Thin */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    font-style: normal;
    src:
        url('/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Thin.woff') format('woff');
}

/* Spoqa Han Sans Light */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    font-style: normal;
    src:
        url('/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Light.woff') format('woff');
}

/* Spoqa Han Sans Regular */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    font-style: normal;
    src:
        url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff');
}

/* Spoqa Han Sans Bold */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    font-style: normal;
    src:
        url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff');
}

/* Spoqa Han Sans Medium */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    font-style: normal;
    src:
        url('/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Medium.woff') format('woff');
}


.layout-wrapper {
    &.layout-nav-type-vertical {
        .layout-navbar {
            padding-inline: 0;

            .navbar-content-container {
                border-radius: 0;
            }
        }
    }
}

.layout-nav-type-vertical .layout-vertical-nav .nav-items {
    padding: 0rem 0;
}

@media screen and (max-width: 600px) {
    .layout-vertical-nav {
        inline-size: 100%;
    }

    .layout-vertical-nav:not(.visible) {
        transform: translateX(-100%);
    }


    .v-card {
        button {
            flex: 1;
            width: 100%;
        }

        .notification-section {
            button {
                flex: none;
                width: auto;
            }

        }

        .v-card-text {
            &.d-flex {
                &.justify-end {
                    &.flex-wrap {
                        button {
                            flex: 1;
                            max-width: calc(50% - 6px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .v-card {
        button {
            flex: 1;
            width: 100%;
        }

        .v-card-text {
            &.d-flex {
                &.justify-end {
                    &.flex-wrap {
                        button {
                            flex: 1;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.v-dialog {
    .v-dialog-close-btn {
        border-radius: 100px !important;
        color: var(--color-gray-gray-600) !important;
        width: 38px !important;
        height: 38px !important;
        transform: translate(1.2rem, -1.2rem) scale(1) !important;
        border: 1px solid var(--color-gray-gray-600) !important;


        &:hover {
            transform-origin: center;
            transform: translate(1.2rem, -1.2rem) scale(1.1) !important;
        }
    }
}

.v-toolbar {
    background: var(--color-gray-gray-100) !important;
    color: var(--theme-text-primary);
}

.v-toolbar__content {
    height: 60px !important;

    .v-btn--icon {
        flex: none;
    }

    >.v-toolbar-title {
        margin-inline-start: 8px !important;
        font-size: 18px;
        font-weight: 500;
    }
}

.fullpopup-page-content {
    padding: 1.5rem;
}

.top-search-area {
    .item-title {
        color: inherit;
        font-size: 12px;
        display: block;
        white-space: nowrap;
        font-weight: 300;
    }

    .item-text {
        color: inherit;
        font-size: 13px;
        display: block;
        white-space: nowrap;
        font-weight: 500;
    }

    .item>.item-title {
        color: var(--color-secondary-secondary-300);
    }

    [class^="v-col"] {
        padding: 4px;
    }

    align-items: center;

    .v-row {
        align-items: center;
    }

    .top-chip-item {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;

        @media (max-width: 960px) {
            justify-content: flex-start;
        }

        .item-title {
            color: inherit;
        }

        .item-text {
            color: inherit;
        }

    }

    .justify-center {
        .v-btn {
            min-width: 104px;
        }
    }
}

.layout-page-content {
    padding-block: 1.5rem 0 !important;
    padding-inline: 1.5rem !important;
    margin-bottom: 0;
}

.v-pagination {
    font-size: 12px;
}

.v-data-table {
    thead {
        tr {
            th {
                height: 40px !important;
            }
        }
    }
}

.v-table__wrapper {
    >table {
        >thead {
            >tr {
                >th {
                    height: 40px !important;
                    position: relative;

                    &:not(:last-child)::after {
                        content: "｜";
                        position: absolute;
                        right: -6px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: rgba(var(--v-border-color), 0.24);
                    }
                }
            }
        }
    }

    border-radius: 0 !important;
    border-top: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
    border-bottom: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
}

.v-card-item {
    padding: 1rem 1.5rem;
}

.page-stitle-area {
    width: 100%;
    min-height: 30px;
}

.page-title-area {
    .bg-primary {
        background: var(--primary-dark) !important;
    }
}

@media (min-width: 601px) {
    .page-title-area {
        .v-btn {
            width: 180px;
        }
    }
}

@media (max-width: 600px) {
    .fullpopup-page-content {
        padding: 1rem;
    }

    .v-card-item {
        padding: 1rem 1rem 0 1rem !important;
    }

    .v-card-text {
        padding: 1rem !important;
    }

    .layout-page-content {
        padding-block: 1rem 0 !important;
        padding-inline: 1rem !important;
        margin-bottom: 0;
    }

    .page-title-area {
        flex-direction: column !important;
        gap: 4px;

        .v-btn {
            flex: 1;

            &.bg-secondary {
                flex: 0;
                min-width: 33%;
            }
        }
    }

    .page-stitle-area {
        flex-direction: column !important;
        gap: 8px;

        .v-btn {
            flex: 1;
        }
    }

    .top-search-area {
        .v-btn {
            flex: 1;
        }
    }
}

.card-table-infinity {
    width: 100%;
    flex-wrap: wrap;
    gap: 2px;

    .v-card {
        width: 100%;

        .v-card-item {
            padding: 16px 24px;
        }
    }

    .data {
        display: flex;
        flex-direction: column;
        margin-bottom: 2px;

        &:last-child {
            margin-bottom: 0;
        }

        .v-card-text {
            display: flex;
            justify-content: flex-start;
            gap: 4px 1rem;
            flex-flow: row wrap;
            padding: 8px 24px;

            @media (max-width: 1280px) {
                padding: 8px 16px;
            }

            .item {
                display: flex;
                flex-direction: row;
                gap: 4px;

                @media (max-width: 960px) {
                    justify-content: flex-start;
                }


                .item-title {
                    color: var(--color-secondary-secondary-300);
                    font-size: 12px;
                    display: block;
                    white-space: nowrap;
                    font-weight: 200;
                }

                .item-text {
                    color: var(--theme-text-primary);
                    font-size: 13px;
                    display: block;
                    white-space: nowrap;
                    font-weight: 500;
                }
            }

            .chip-item {
                display: flex;
                flex-direction: row;
                gap: 4px;

                @media (max-width: 960px) {
                    justify-content: flex-start;
                }


                .item-title {
                    color: inherit;
                    font-size: 12px;
                    display: block;
                    white-space: nowrap;
                    font-weight: 200;
                }

                .item-text {
                    color: inherit;
                    font-size: 13px;
                    display: block;
                    white-space: nowrap;
                    font-weight: 500;
                }
            }
        }
    }
}

.v-card-item__append {
    gap: 8px;
    padding-inline-start: 0;
    flex-wrap: wrap;
    min-width: auto;
}

@media (max-width: 960px) {
    .card-more-btn {
        .v-btn {
            width: 100%;
            min-width: auto;
        }
    }

    .v-card-item {
        display: block;
        gap: 4px;

        .v-card-item__content {
            margin-bottom: 0px;
        }

        .v-card-item__append {

            .v-btn {
                min-width: auto;
            }
        }
    }
}

.v-input {
    .v-input__prepend {
        margin-inline-end: 4px !important;
    }

    .v-input__append {
        margin-inline-start: 4px !important;
    }

    .tabler-asterisk-simple {
        margin: 4px;
        color: rgb(var(--v-theme-error)) !important;
        block-size: 0.5rem !important;
        font-size: 0.5rem !important;
        inline-size: 0.5rem !important;
        stroke-width: 4;
    }
}

$positions: (
    top center: (bottom: -8px, left: calc(50% - 2px)),
    bottom center: (top: 0px, left: calc(50% - 2px)),
    right center: (top: calc(50% - 2px), left: 0px),
    left center: (top: calc(50% - 2px), right: -8px)
);

.v-overlay__content {
    @each $pos, $values in $positions {
        &[style*="--v-overlay-anchor-origin: #{$pos};"]::after {
            content: "";
            display: block;
            position: absolute;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 2px;
            transform: rotate(45deg) translateX(-50%);
            background: rgb(var(--v-tooltip-background));

            @each $key, $value in $values {
                #{$key}: $value;
            }
        }
    }
}

.v-text-field__prefix,
.v-text-field__suffix {
    opacity: 1 !important;
    font-size: 12px;
}

.text-right input {
    text-align: right;
}

.free-type {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: left;
    gap: 8px;
}

.required label::after {
    content: "*";
    color: var(--error-main);
    display: inline-block;
    font-size: 1rem;
    line-height: 0;
    margin-top: 5px;
    width: 16px;
    text-align: center;
}

.form-align-right input {
    text-align: right;
}

.bg-menu-active {
    background: var(--menu-active, linear-gradient(270deg, rgba(0, 144, 255, 0.70) 0%, #0090FF 100%)) !important;
}

.v-overlay .v-card-text button {
    flex: 1;
}

.help-center-breadcrumbs {
    .v-breadcrumbs-item {
        color: var(--theme-text-scondary) !important;
        opacity: 1 !important;
        font-weight: 200;

        .v-breadcrumbs-item--disabled {
            color: var(--theme-text-primary) !important;
            opacity: 1 !important;
            font-weight: 500;
        }
    }
}

.v-text-field--prefixed {
    font-size: 12px;
    align-items: center;
    color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
    cursor: default;
    display: flex;
    font-weight: 400;
    transition: inherit;
    white-space: nowrap;
    line-height: normal;
}

.v-field.v-field--appended .v-field__input {
    padding-inline-end: 4px;
}

.v-field.v-field--prepended .v-field__input {
    padding-inline-start: 4px;
}

.v-text-field--suffixed .v-field__input {
    padding-inline-end: 4px;
}

.v-text-field--prefixed .v-field__input {
    padding-inline-start: 4px;
}

.v-tabs-pill {
    .v-slide-group__content {
        border-radius: 6px;
        padding: 4px;
        background: rgba(47, 43, 61, 0.08);

        .v-btn {
            height: 30px !important;
            font-size: 13px;
            font-weight: 400 !important;
        }
    }

}

.item-cell-title {
    font-size: 15px;
    letter-spacing: normal;
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}

.basic-editor-card {
    .v-card-text {
        padding: 16px;

        @media (max-width: 960px) {
            padding: 0px !important;
        }
    }
}

.ProseMirror {
    padding: 1rem !important;
}

.file {
    display: flex;
    flex-direction: column;

    .custom-input {
        :deep(.v-label) {
            display: none !important;
        }

    }

    label {
        padding-top: 4px;
    }

    /* readonly 상태일 때 label 및 메시지 색상 변경 */
    &.readonly-mode label,
    .custom-input.v-input.v-input--readonly~.v-messages {
        color: rgba(var(--v-theme-on-surface), 0.38) !important;
    }
}

.custom-field {

    /* required가 있을 때만 아이콘 추가 */
    &:has([required]) :deep(.v-label)::after {
        content: "\2A";
        /* Unicode for '*' */
        font-family: "tabler-icons";
        font-size: 16px;
        color: red;
        margin-left: 5px;
        display: inline-block;
    }
}

.v-dialog>.v-overlay__content>.v-card>.v-card-item+.v-card-text,
.v-dialog>.v-overlay__content>form>.v-card>.v-card-item+.v-card-text {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
}

.error--text .v-input__control .v-field__input {
    color: var(--error-main) !important;
}

.v-data-table tbody tr:hover {
    color: rgb(var(--v-theme-on-background), var(--v-high-emphasis-opacity));

    td {
        background-color: rgba(var(--v-theme-on-background), 0.025);
    }
}

.card-table-infinity .data:hover {
    color: rgb(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
    background-color: rgb(245, 255, 255);
    opacity: 1;
    cursor: pointer;
}

.v-data-table tbody tr.selected {
    color: rgb(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
    background-color: #e3f2fd !important;
}

.sign-area .sign-area-input {
    border: 1px solid rgba(47, 43, 61, 0.7);
    color: rgb(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
    min-height: 200px;
    border-radius: 6px;
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
    position: relative;
}

.sign-area .sign-area-input::before {
    content: "서명입력";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 24px;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.22;
    font-weight: 700;
}

.sign-area.readonly .sign-area-input {
    background: rgba(var(--v-theme-on-surface), var(--v-hover-opacity));
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
    color: rgb(var(--v-theme-on-background), var(--v-high-emphasis-opacity));

    .v-label {
        opacity: 0.07 !important;
    }
}


.popup-top-between {
    padding: 0;
    margin: 0;

    @media (max-width: 600px) {
        flex-flow: column;
    }

    .v-col {
        padding: 0;
        flex-wrap: nowrap;
        flex-flow: row;

        @media (max-width: 600px) {
            flex: 1;
            max-width: 100%;
        }
    }

    .v-col-9 {
        flex: 1;
    }
}


.app-picker-field {
    width: 340px;

    .flat-picker-custom-style {
        padding: 0 0 0 4px !important;
        width: 100%;
    }
}

.v-alert--variant-outlined,
.v-avatar--variant-outlined,
.v-btn.v-btn--variant-outlined,
.v-card--variant-outlined,
.v-chip--variant-outlined,
.v-list-item--variant-outlined {
    background: #fff;
}

.v-input--readonly.v-file-input.custom-input {
    background-color: rgba(var(--v-theme-on-surface), var(--v-hover-opacity));
    opacity: 1;
}
